<div class="main">
    <div class="topic">
        <h1>First Child Component</h1>
    </div>
    <div class="work">
        <div class="case">
            <div class="title">
                <h4>Input</h4>
            </div>
            <div class="content">
                <p>Data - {{value1}}</p>
            </div>
        </div>
        <div class="case">
            <div class="title">
                <h4>Observable- Subject</h4>
            </div>
            <div class="content">
                <p>Data - {{value2}}</p>
            </div>
        </div>
        <div class="case">
            <div class="title">
                <h4>Event</h4>
            </div>
            <div class="content">
                <p>Data - {{value3}}</p>
            </div>
        </div>
    </div>
</div>
